/* RESET */
* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }

body {
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

/* THEME */
:root {
  --bg: #ffffff;
  --text: #000000;
  --glass: rgba(255,255,255,0.2);
}

#dark-toggle:checked ~ * {
  --bg: #0e0e11;
  --text: #f2f2f2;
  --glass: rgba(0,0,0,0.4);
}

/* DARK SWITCH */
#dark-toggle { display: none; }
.dark-switch {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

/* NAV */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--glass);
  backdrop-filter: blur(10px);
  z-index: 10;
}
.nav nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}

.nav a{
    color: #000;
    display: flex;
    text-decoration: none;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.nav a:hover{
    color: rgb(191, 98, 217);
    transition: 0.3s ease;
}
/* SECTIONS */
.section {
  min-height: 100vh;
  padding: 7rem 10%;
  text-align: center;
}

/* HERO */
.Accueil {
  background: url("/images/gestion\ de\ projet.jpg") center/cover fixed;
  color: +rgb(255, 255, 255);
}

#Accueil{
    color: #ffffff;
}
#module{
      background: linear-gradient(
    135deg,
    #f7f8fa,
    #c4dbf6
  );
}
#module h4{
color: rgb(91, 91, 95);
display: block;
text-align: left;
padding: 1%;


}



#module .card span{
color: red;
}

#innovation img{
width: 100%;

}


.timeline span{
    color: red;
}
.timeline span img{
    width: 100%;
    height: 20%;
    border-radius: 5%
    
}

#planning{
    color: rgb(99, 114, 99);
}

#budget span{
color: red;
}

#methodes{
          background: linear-gradient(
    135deg,
    #f7f8fa,
    #60889c
  );
}


/* PARALLAX */
.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.analyse { background-image: url("assets/images/analyse.jpg"); }
.planning { background-image: url("assets/images/plannings.jpg"); }
.budget { background-image: url("assets/images/budget.jpg"); }
.innovation { background-image: url("assets/images/innovation.jpg"); }

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 2rem;
  margin-top: 3rem;
}


.card {
  padding: 2rem;
  border-radius: 20px;
  background: var(--glass);
  backdrop-filter: blur(12px);
  box-shadow: 0 20px 10px rgba(0,0,0,0.2);
}


/* TIMELINE */
.timeline {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}
.timeline span {
  padding: 1rem;
  border-left: 4px solid currentColor;
}



/* FOOTER */
.footer {
  padding: 2rem;
  background: #000;
  color: white;
}

